<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>TMS: all tasks</title>

    <link rel="icon" href="/favicon.svg">

    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/main.css" rel="stylesheet">

    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
    <script src="/app.js"></script>
</head>

<body>

<div th:with="me=${me}" th:insert="fragments/header :: headerTemplate" th:remove="tag"></div>

<div th:if="${me.getRole() == ROLE_MANAGER}" th:with="me=${me}, allPerformers=${allPerformers}"
     th:insert="fragments/task :: addTask" th:remove="tag"></div>

<div id="tasks" class="tasks">
    <div    th:each="task: ${tasks}" th:with="task=${task}, myRole=${me.getRole()}"
            th:insert="fragments/task :: taskTemplate"
            th:remove="tag"></div>
</div>


<pre id="apiErrorMessage"></pre>

<div id="toasts" class="position-fixed bottom-0 right-0 p-3" style="z-index: 5; right: 0; bottom: 0;"></div>

</body>
</html>